.app-header {
  display: flex;
  align-items: center;
}

.app-header h1 {
  flex-grow: 0;
}

.app-header h2 {
  margin-left: 15px;
  justify-content: flex-start;
  font-size: 1.2rem;
  color: grey;
}

.app-header h2.term {
  display: none;
}
